* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

h2 { 
    background-color: aqua;
    color: blanchedalmond;
    border: 3px solid greenyellow;
}
